# gradle

.gradle/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
build/
src/main/resources/fabric.mod.json
src/main/resources/fabric.mod.json
