name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Gradle
      run: ./gradlew build '-Pversion=2.2.2-${{ github.run_number }}'
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: CodeUtilities
        path: ./build/libs/CodeUtilities*.jar
